<!DOCTYPE HTML>
<!--xmlns:th="http://www.thymeleaf.org" this is used to stop the IDE from
throwing errors when we use the th namespace, this is how we declare the namespace-->

<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/style.css">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!-- thymeleaf refers to our model attribute as a context variable -->
<!-- basically anything that looks like ${} can be representative of data in your application -->
<!-- this is very similar to javascript template literals and Java formats -->

<p th:text="'Hello, ' + ${name} + '!'" />

<!-- Where #{msg.welcome} is our message expression  -->
<p th:text="#{msg.welcome}">Welcome everyone!</p>

<!--&lt;!&ndash; th:each is acting like an enhanced for loop &ndash;&gt;-->
<!--<ul th:each="book : ${books}">-->
<!--<li th:each="book : ${books}" th:text="${book.title}">Book title</li>-->
<!--<li th:each="book : ${books}" th:text="${book.author}">Book author</li>-->
<!--</ul>-->


<ol th:each="book : ${books}">
    <li>
        <span th:text="${book.title}"></span>
        <span th:text="${book.author}"></span>

    </li>
</ol>

</body>
</html>